@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;

        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;

        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 222.2 84% 4.9%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;

        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;

        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;

        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 11.2%;

        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;

        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;

        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;

        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 212.7 26.8% 83.9%;
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    background-color: $background;
}

.secondary {
    color: $secondary-title;
}

.primary {
    color: $primary-title;
}

// heading
h1 {
    font-size: $heading-1;
    color: $primary-title;
    font-family: $heading-family;
    font-weight: $heading-weight;
    line-height: 100%;

    .secondary {
        color: $secondary-title;
    }
}

h2 {
    font-size: $heading-2;
    color: $black;
    font-family: $heading-family;
    font-weight: $heading-weight;
}

h3 {
    font-size: $heading-3;
    color: $black;
    font-family: $heading-family;
    font-weight: $heading-weight;
}

h4 {
    font-size: $heading-4;
    color: $black;
    font-family: $heading-family;
    font-weight: $heading-weight;
}

h5 {
    font-size: $heading-5;
    color: $black;
    font-family: $heading-family;
    font-weight: $heading-weight;
}

// =================== END HEADING

// Subheading
.subHeading1 {
    font-size: $subHeading-1;
    font-family: $subHeading-family;
    font-weight: $subHeading-weight;
}

.subHeading2 {
    font-size: $subHeading-2;
    font-family: $subHeading-family;
    font-weight: $subHeading-weight;
}

.subHeading3 {
    font-size: $subHeading-3;
    font-family: $subHeading-family;
    font-weight: $subHeading-weight;
}

// =================== END SUBHEADING

// Body Text
.bodyText {
    font-size: $body-1;
    font-weight: $body-weight;
    font-family: $body-family;
    color: $primary-title;
}

.bodyText2 {
    font-size: $body-1;
    font-weight: $body-weight;
    font-family: $body-family;
    color: $black;
}

.captionText {
    font-size: $caption-1;
    font-weight: $caption-weight;
    font-family: $body-family;
    color: $black;
}

// =================== END BODY TEXT

// BUTTON
.primary_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    background-color: $green;
    padding: 15px 35px 15px 35px;
    border-radius: 40px;
    color: $white;
    gap: 10px;
    fill: #fff;

    .svgIcons {
        fill: #fff;
    }
}

.secondary_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    outline: $green solid 1px;
    padding: 15px 35px 15px 35px;
    border-radius: 40px;
    color: $green;
    gap: 10px;

    .svgIcons {
        fill: $green;
    }
}

.lh {
    line-height: 100%;
}


// hero background


.mainHero {
    position: relative;
    background: rgb(165, 231, 199);
    background: linear-gradient(38deg, rgba(165, 231, 199, 1) 0%, rgba(211, 232, 177, 1) 100%);
    position: relative;
    height: 110vh;
    width: 100%;

    z-index: 0;
    display: flex;
    justify-items: center;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;

    .earthSVG {
        content: "";
        position: absolute;
        right: -80px;
        bottom: -100px;
        object-fit: contain;
        z-index: -1;
        overflow: hidden;
    }

    .heroWrapper {
        margin-left: 90px;
        margin-right: 90px;
        width: 562px;
        display: flex;
        flex-direction: column;
        align-items: left;

        h1 {
            z-index: 99;
        }
    }
}

// =========END HERO

// BLOCK

.block {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    color: $white;
    background-color: $green;

    p {
        text-align: center;
        color: $white;
        font-size: $body-2;
    }
}

// ======= Block End

// About
.about {
    background-image: url('/asset/Background/TopBackground.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -100px;
    height: 600px;
    width: 100%;
    display: grid;
    place-items: center;

    &__wrapper {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 30px;
        text-align: center;

        .LContent {
            width: 80%;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin: 8px;
            gap: 10px;

            .primary_button {
                margin-top: 20px;
            }
        }

        .RContent {
            width: 10%;

            .logoMulon {
                object-fit: contain;

            }
        }
    }
}

// ======= END ABOUT

// SERVICES
.service {
    min-height: 80vh;
    max-height: max-content;
    background-image: url('/asset/eclips.svg');
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: top;

    .textAbove {
        margin-left: 90px;
        max-width: 814px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__wrap {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        margin-left: 90px;
        flex-wrap: wrap;
    }

    @media screen and (max-width: 720px) {
        .textAbove {
            padding: 20px;
            margin-left: 0px;


            h1 {
                font-size: $heading-3;
            }
        }

        &__wrap {
            margin-left: 0;
            padding: 20px;
            zoom: 80%;
            align-items: center;
        }

    }

    @media screen and (max-width: 512px) {
        .textAbove {}

        h1 {
            font-size: $heading-4;
        }

        .bodyText {
            font-size: $body-2;
        }


    }
}

// Promo Section

.promo {
    display: grid;
    margin-top: 50px;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    background-image: url('/asset/rightCircle.svg');
    background-position-x: right;
    background-position-y: top;
    background-repeat: no-repeat;
    margin-left: 90px;
    gap: 20px;

    &__left {
        width: 550px;
    }

    &__right {
        margin-right: 90px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .url {
            color: #4285F4;
            cursor: pointer;
        }
    }

    @media screen and (max-width: 1114px) {
        grid-template-columns: 1fr;
        margin-left: 0;
        padding: 20px;

        &__left {
            width: 80%;
            display: grid;
            place-items: center;
            margin: auto;
        }

        &__right {
            margin-right: 0;
            text-align: center;
        }
    }

    @media screen and (max-width: 720px) {
        &__right {
            margin-right: 0;
            text-align: center;

            h1 {
                font-size: $heading-2;
            }
        }
    }


}

// Blog Section

.blog {
    width: 100%;
    height: 100vh;
    background-image: url('/asset/Background/bottomBg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 100px;
    display: grid;
    place-items: center;
    text-align: center;
}

// NAVBAR

nav {
    position: relative;
    bottom: 0;
}

// Responsive

@media screen and (max-width: 720px) {
    .mainHero {
        .heroWrapper {
            margin-left: 40px;
            margin-right: 20px;
            width: 90%;
        }

        h1 {
            font-size: $heading-3;
        }

    }


    .about {

        &__wrapper {
            .LContent {
                h1 {
                    font-size: $heading-2;
                }

                p {
                    font-size: $body-2;
                }
            }

            .RContent {}


        }

    }
}


@media screen and (max-width: 512px) {
    .mainHero {
        .heroWrapper {
            margin-left: 20px;
        }

        .bodyText {
            font-size: $body-2;
        }

        h1 {
            font-size: $heading-4;
        }

    }
}