.card{
    width: 383px;
    height: 391px;
    border: 1px solid #D8D8DA;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    &__iconBg{
     
        img{
        padding: 2px;
         width: 80px;
         height: 80px;
         border-radius: 50%;
         background-color: $green;
        }
    }
}