@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    background-color: $background;
}

.secondary {
    color: $secondary-title;
}

.primary {
    color: $primary-title;
}

// heading
h1 {
    font-size: $heading-1;
    color: $primary-title;
    font-family: $heading-family;
    font-weight: $heading-weight;

    .secondary {
        color: $secondary-title;
    }
}

h2 {
    font-size: $heading-2;
    color: $black;
    font-family: $heading-family;
    font-weight: $heading-weight;
}

h3 {
    font-size: $heading-3;
    color: $black;
    font-family: $heading-family;
    font-weight: $heading-weight;
}

h4 {
    font-size: $heading-4;
    color: $black;
    font-family: $heading-family;
    font-weight: $heading-weight;
}

h5 {
    font-size: $heading-5;
    color: $black;
    font-family: $heading-family;
    font-weight: $heading-weight;
}

// =================== END HEADING

// Subheading
.subHeading1 {
    font-size: $subHeading-1;
    font-family: $subHeading-family;
    font-weight: $subHeading-weight;
}

.subHeading2 {
    font-size: $subHeading-2;
    font-family: $subHeading-family;
    font-weight: $subHeading-weight;
}

.subHeading3 {
    font-size: $subHeading-3;
    font-family: $subHeading-family;
    font-weight: $subHeading-weight;
}

// =================== END SUBHEADING

// Body Text
.bodyText {
    font-size: $body-1;
    font-weight: $body-weight;
    font-family: $body-family;
    color: $primary-title;
}

.bodyText2 {
    font-size: $body-1;
    font-weight: $body-weight;
    font-family: $body-family;
    color: $black;
}

.captionText {
    font-size: $caption-1;
    font-weight: $caption-weight;
    font-family: $body-family;
    color: $black;
}

// =================== END BODY TEXT

// BUTTON
.primary_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    background-color: $green;
    padding: 15px 35px 15px 35px;
    border-radius: 40px;
    color: $white;
    gap: 10px;
    fill: #fff;

    .svgIcons {
        fill: #fff;
    }
}

.secondary_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    outline: $green solid 1px;
    padding: 15px 35px 15px 35px;
    border-radius: 40px;
    color: $green;
    gap: 10px;

    .svgIcons {
        fill: $green;
    }
}

.lh {
    line-height: 100%;
}


// hero background


.mainHero {
    position: relative;
    background: rgb(165, 231, 199);
    background: linear-gradient(38deg, rgba(165, 231, 199, 1) 0%, rgba(211, 232, 177, 1) 100%);
    position: relative;
    height: 100vh;
    width: 100%;

    z-index: 0;
    display: flex;
    justify-items: center;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;

    .earthSVG {
        content: "";
        position: absolute;
        right: -80px;
        bottom: -100px;
        object-fit: contain;
        z-index: -1;
        overflow: hidden;
    }

    .heroWrapper {
        margin-left: 90px;
        margin-right: 90px;
        width: 562px;
        display: flex;
        flex-direction: column;
        align-items: left;

        h1 {
            z-index: 99;
        }
    }
}

// =========END HERO

// BLOCK

.block {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    color: $white;
    background-color: $green;

    p {
        text-align: center;
        color: $white;
        font-size: $body-2;
    }
}

// ======= Block End

// About
.about {
    background-image: url('/asset/Background/TopBackground.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -100px;
    height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    &__wrapper {
        height: 400px;
        margin-left: 90px;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        gap: 50px;
        .LContent{
            width: 60%;
        }
        .RContent{
            .logoMulon{
                object-fit: contain;
            }
        }
    }
}

// Responsive

@media screen and (max-width: 720px) {
    .mainHero {
        .heroWrapper {
            margin-left: 40px;
            margin-right: 20px;
            width: 90%;
        }

        h1 {
            font-size: $heading-3;
        }

    }
}


@media screen and (max-width: 512px) {
    .mainHero {
        .heroWrapper {
            margin-left: 20px;
        }

        .bodyText {
            font-size: $body-2;
        }

        h1 {
            font-size: $heading-4;
        }

    }
}