.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 99;
    position: fixed;
    top: 20px;
    width: 100%;
    // color: $white;
    min-height: max-content;
    height: max-content;
    padding: 20px;

    .options {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
        cursor: pointer;
    }

    .nestedLi {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .nestedUL {
        position: absolute;
        background-color: #549b79;
        padding: 20px;
        width: max-content;
        top: 30px;
        border-radius: 4px;
        display: none;

    }


    .wrapLogo {
        width: 80%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .navbar__items {
        display: flex;
        flex-direction: row;
        gap: 60px;
    }

    .navLogo {
        width: 100px;

    }

    .hamburgerPlace {
        display: none;
    }

}

.active {
    display: block;
}

@media (max-width: 768px) {
    .navbar {

        /* Membuat navbar tetap di atas halaman pada tampilan mobile */
        top: 0;
        left: 0;
        background-color: #549b79;

        .navbar__items {
            position: absolute;
            top: 70px;
            left: 0;
            padding: 10px;
            display: flex;
            flex-direction: column;
            width: 100%;
            background-color: #549b79;
            height: max-content;
            gap: 20px;
            li {
                padding: 10px;
                margin-left: 12px;

            }

        }

        .none{
            display: none;
        }
        .active {
            display: inline;
        }

        .nestedUL {
            display: flex;
            position: relative;
            flex-direction: column;
            padding: 7px;
            top: 0;
        }

        .hamburgerPlace {
            position: absolute;
            right: 30px;
            display: flex;
        }
    }
}